In [1]:
!pip3 install pandas numpy seaborn kaggle matplotlib scikit-learn

Requirement already satisfied: pandas in ./venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in ./venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: seaborn in ./venv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: kaggle in ./venv/lib/python3.13/site-packages (1.7.4.5)
Requirement already satisfied: matplotlib in ./venv/lib/python3.13/site-packages (3.10.6)
Requirement already satisfied: scikit-learn in ./venv/lib/python3.13/site-packages (1.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: bleach in ./venv/lib/python3.13/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in ./venv/lib/python3.13/site-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in ./venv/lib/python3.13/site-packages (from kaggle) (3.4.3)
Requirement already satisfied: idna in ./venv/lib/python3.13/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in ./venv/lib/python3.13/site-packages (from kaggle) (6.32.1)
Requirement already satisfied: python-slugify in ./venv/lib/python3.13/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in ./venv/lib/python3.13/site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in ./venv/lib/python3.13/site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in ./venv/lib/python3.13/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in ./venv/lib/python3.13/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in ./venv/lib/python3.13/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in ./venv/lib/python3.13/site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in ./venv/lib/python3.13/site-packages (from kaggle) (0.5.1)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.13/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.13/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: scipy>=1.8.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./venv/lib/python3.13/site-packages (from scikit-learn) (3.6.0)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import StandardScaler

# Obtener los datos

In [3]:
from pathlib import Path
import shutil

# Cargar el archivo kaggle.json para autenticación con la API de Kaggle

# Suponiendo que kaggle.json está en el directorio actual
kaggle_json = Path('kaggle.json')
kaggle_dir = Path.home() / '.kaggle'
kaggle_dir.mkdir(exist_ok=True)
shutil.copy(str(kaggle_json), str(kaggle_dir / 'kaggle.json'))

# Establecer permisos adecuados
os.chmod(str(kaggle_dir / 'kaggle.json'), 0o600)

In [4]:
!kaggle datasets download -d neuromusic/avocado-prices -p ./ --unzip

Dataset URL: https://www.kaggle.com/datasets/neuromusic/avocado-prices
License(s): ODbL-1.0
Downloading avocado-prices.zip to .
  0%|                                                | 0.00/629k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 629k/629k [00:00<00:00, 2.17GB/s]

In [5]:
df = pd.read_csv("./avocado.csv")
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany